{% extends 'main_page.html' %}
{%load static%}

{% block content %}
<div class="card" style="width: 18rem;">
  {% if post.image %}
  <img src="{{post.image.url}}" class="card-img-top" style="width: 300px; height: 200px" alt="...">
  {%else%}
  <img src="{%static 'placeholder-5.png'%}">
  {%endif %}
  <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.content }}</p>
      <p class="card-text">{{ post.rate }}</p>
      {%if post.author == request.user%}
      <a href="/post/{{post.id}}/update" class="btn btn-primary">Update</a>
      {%endif%}
      <p></p>
      <form action="" method="post">
          {% csrf_token %}
          {{comment_form.as_p}}
          <button style="background-color: aqua;" type="submit">Add comment</button>
      </form>
      <p>Comments</p>
      {% for comment in comments%}
      <div class="card" style="width: 17rem;">
          <h5 class="card-title">{{ comment.text }}</h5>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}